html, body {
  margin: 0;
  height: 100vh;
}

body {
  margin: 0;
  background-color: rgb(125, 209, 234);
}

h1 {
  font-family: blackadder, cursive;
  color: #333;
  text-align: center;
  margin-top: 20px;
  font-size: 75px;
} 

ul {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: #333;
  font-size: 20px;
  width: 50%;
  margin: 20px auto;
}

li {
  margin-bottom: 20px;
}