body {
  background-color: #f3efe0; 
  font-family: "Courier New", cursive;
  color: #3b2f2f;
  text-align: center;
}

h1 {
  margin: 60px auto;
  font-size: 50px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: rgb(42, 121, 91)
}

h2 {
  margin-bottom: 15px;
  font-size: 30px;
  text-transform: uppercase;
}

img {
  border: 15px solid #bfa77a;
  border-radius: 50%;
}

p {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.6;
}