/* CARD STYLING */
.designCard {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    height: 375px;
    border: 1px solid rgb(32, 24, 36);
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background-color: rgb(233, 228, 238);
}

.cardImg img {
    max-width: 200px;
    width: 100%;
    border-radius: 10px;;
}

.cardTitle {
    font-family: sans-serif;
    color: rgb(32, 24, 36);
    text-transform: lowercase;
    font-weight: lighter;
    font-size: 20px;
    padding-bottom: 6px;
}

/* SVG ICONS */
.forKids {
    width: 25px;
    height: 25px;
    top: 12.5px;
    position: absolute;
    z-index: 10;
    left: 5px;
}

.actions {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.actions a img {
    width: 25px;
    height: 25px;
}

.actions a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    padding-top: 3px;
    background-color: rgb(233, 228, 238);
}

.actions a:hover {
    background-color: #c7c9e7;;
}

/* MOVEMENT COLORS */
.stripe {
    height: 5px;
    width: 100%
}

.red {
    background-color: red;
}

.red-orange {
    background-color: rgb(254, 79, 20);
}

.gold {
    background-color: goldenrod;
}

.yellow {
    background-color: yellow;
}

.lime-green {
    background-color: rgb(71, 222, 71);
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.sky-blue {
    background-color: skyblue;
}

.cyan {
    background-color: cyan;
}

.navy {
    background-color: rgb(24, 80, 210);
}

.indigo {
    background-color: indigo;
}

.fuschia {
    background-color: rgb(223, 60, 193);
}

.mauve {
    background-color: rgb(137, 89, 132);
}

.chrome {
    background-color: silver;
}