/* START SCREEN */
#start-screen {
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.start-box {
    text-align: center;
    color: #00ff62;
    font-family: monospace;
}

#start-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid #00ff62;
    color: #00ff62;
    cursor: pointer;
}

/* P5.JS CANVAS */
#canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: clamp(20px, 15vh, 60px);
}

/* BODY */
html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #000000;
}

/* RADIO BUTTONS */
input[type="radio"] {
    display: none;
}

label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: clamp(32px, 8vw, 40px);
    height: clamp(32px, 8vw, 40px);
    margin: 0;
    background: #000;
    border: 4px solid #00ff62;
    border-radius: 20%;
    color: #00ff62;
    font-family: courier, monospace;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    flex-shrink: 0;
}

.selected {
    background: #00ff62;
    color: #000;
}

/* PREVENT WRAPPING & CONTROL SPACING */
#canvas-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(12px, 4vw, 120px);
    flex-wrap: nowrap;
}