/* BANNER */
.masthead {
    max-width: 875px;
    width: 100%;
    margin: 50px auto 20px;
    text-align: center;
}

.masthead img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    border: 1px solid rgb(32, 24, 36);
}

/* LEGEND */
p {
    font-family: sans-serif;
    color: rgb(32, 24, 36);
    text-transform: lowercase;
    font-weight: lighter;
    font-size: 25px;
    margin-bottom: 0;
}

.legend {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.legend p {
  margin: 0;
}